In [ ]:
#1
a=int(input())
b=int(input())
sum=a+b
difference=a-b
product=a*b
print("sum={}".format(sum))
print(("difference={}".format(difference)))
print(("product={}".format(product)))

4
5
sum=9
difference=-1
product=20

In [ ]:
#2
import math
radius=float(input())
area= math.pi*radius**2
Circumference= 2*math.pi*radius
print(area)
print(Circumference)

4
50.26548245743669
25.132741228718345

In [ ]:
#3
a=int(input())
b=int(input())
if a>b:
  print("first is greater")
elif b>a:
  print("second is greater")
else:
  print("the numbers are equal")

7
3
first is greater

In [ ]:
#4
num1=int(input())
num2=int(input())
if num1>num2:
  print(num1-num2)
elif num2>num1:
  print(num2-num1)
else:
  print(num1-num2)

-40
-4
36

In [ ]:
#5
num=int(input())
if num%2==0:
  print("the number is even")
else:
  print("the number is odd")

7
the number is odd

In [ ]:
#6
num=int(input())
if num%2==0 and num%5!=0 or num%2!=0 and num%5==0:
  print(num)
else:
  print("Not a multiple of 2 OR 5")

3
Not a multiple of 2 OR 5

In [ ]:
#7
num=int(input())
if num%2==0 and num%5==0:
  print("Multiple of 2 and 5 both")
elif num%2==0 or num%5==0:
  print(num)
else:
  print("Not a multiple we want")

10
Multiple of 2 and 5 both

In [ ]:
#8
num=int(input())
if num%2==0 and num%5==0:
  print(num)
else:
  print("Not multiple of 2 and 5 both")

15
Not multiple of 2 and 5 both

In [ ]:
#9
seconds=int(input())
hours=seconds//3600
sec=seconds%3600
mins=sec//60
secs=seconds%60
print("Hours: {} Minutes: {} Seconds: {}".format(hours,mins,secs))

10000
Hours: 2 Minutes: 46 Seconds: 40

In [ ]:
#10
hours_worked=int(input())
if 0<=hours_worked<=168:
  if hours_worked<=40:
    print(hours_worked*200)
  else:
    print(8000+(hours_worked-40)*300)
else:
  if hours_worked<0:
    print("hour cannot be negative")
  else:
    print("impossible to work more than 168 hours weekly")

-10
hour cannot be negative