In [ ]:
#task 2 l-03
a=input()
b=int(input())
for i in range(1,b+1):
  print(a)

toyota
2
toyota
toyota

In [ ]:
-4.8%17

12.2

In [ ]:
#lab 5
l1=[]
for i in range(5):
  a=input()
  l1.append(a)
print(l1)

3
5
34
23
-11
['3', '5', '34', '23', '-11']

In [ ]:
#2
a_list=[]
num=input()
for i in range(len(num)):
  a_list.append(num[i])
if len(a_list)>3:
  print(a_list[2:-2])
else:
  print("not possible")

10, 20, 24, 25, 26, 35, 70
[',', ' ', '2', '0', ',', ' ', '2', '4', ',', ' ', '2', '5', ',', ' ', '2', '6', ',', ' ', '3', '5', ',', ' ']

In [ ]:
#3
l1=[]
for i in range(5):
  num=input()
  l1.append(num)
l1.reverse()
for j in l1:
  print(j)

5
10
15
20
25
25
20
15
10
5

In [ ]:
#5
# Python3 code to demonstrate
# removing empty strings


# initializing list
test_list =["hey", "there", "", "what's", "", "up", "", "?"]


# Printing original list
print ("Original list is : " + str(test_list))

for i in test_list:
	if(len(i)==0):
		test_list.remove(i)

# Printing modified list
print ("Modified list is : " + str(test_list))

Original list is : ['hey', 'there', '', "what's", '', 'up', '', '?']
Modified list is : ['hey', 'there', "what's", 'up', '?']

In [ ]:
#5
l1=["hey", "there", "", "what's", "", "up", "", "?"]
l2=[]
for i in l1:
  if len(i)!=0:
    l2+=i.split(",")


print(l2)

['hey', 'there', "what's", 'up', '?']

In [ ]:
#6
l1=[]
for i in range(7):
  a=int(input())
  l1.append(a)
largest=-1000000000000
smallest=1000000000000
for j in l1:
  if j>largest:
    largest=j
for i  in l1:
  if i< smallest:
    smallest=i



print(l1)
print(largest)
print(smallest)
#print(l1.index(largest))

7
8
13
-2
-11
-22
-10
[7, 8, 13, -2, -11, -22, -10]
13
-22

In [ ]:
#9
s=input()
l1=[]
temp=""
for i in s:
  if i!=" ":
    temp+=i
  else:
    l1.append(int(temp))
    temp=" "
l1.append(int(temp))
print(l1)
l2=[]
for j in l1:
  if j%2!=0:
    l2.append(int(j))
  else:
    pass

print(l2)

7 12 4 55 96 2 11 61 33 42
[7, 12, 4, 55, 96, 2, 11, 61, 33, 42]
[7, 55, 11, 61, 33]

In [ ]:
#10
a=input()
b=a.split(",")
c=[]
d=[]
for i in b:
  if i not in c:
    c.append(int(i))
for j in c:
  if j not in d:
    d.append(int(j))
print(c)
print(d)

0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
[0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#18
l1=input()
l2=input()
result=[]
for i in l1:
   if i in l2 and i!=",":
    result.append(str(i))
print(result)

a,b,c,d
c,b,e,f
['b', 'c']

In [ ]:

dict1 = {'a':59 , 'b':-82 , 'c':5 , 'd':-81 , 'e':53}
for i in dict1:
    j = 0
    k = 22
    while j < 5:
        if j % 2 == 0:
            k = dict1[i] + j - (8 + k % 6) / 3
            dict1[i] = dict1[i]+ int(k)
        else:
            k = dict1[i] + j - (6 - k % 8) * 3
            dict1[i] = dict1[i] - int(k)
        j += 1
    print(int(k))
    print(i + " -> " + str(dict1[i]))

8
a -> 17
10
b -> 19
2
c -> 5
-7
d -> -14
2
e -> 5

In [ ]:
def splitting_money(amount):
  notes1= amount//500
  remainder= amount%100

In [ ]:
((1234

2

In [ ]:

def remove_odd(list):
  l1=[]
  for i in list:
    if i%2==0:
      l1.append(i)
  return l1
print(remove_odd ([21, 33, 44, 66, 11, 1, 88, 45, 10, 9]))

[44, 66, 88, 10]

In [ ]:
#2
import datetime
a=input("Current date time:")
now= datetime.datetime.now()
print(now.strftime("%Y-%M-%D %H:%M:%S"))

Current date time:2014-07-05 14:34:14
2023-51-01/28/23 15:51:58

In [ ]:
#6
num=input()
a=num.split(",")
b=tuple(a)
print("list:",a)
print("Tuple:",b)

3, 5, 7, 23
list: ['3', ' 5', ' 7', ' 23']
Tuple: ('3', ' 5', ' 7', ' 23')

In [ ]:
#8
color_list=[]
temp=color_list[0::-1]
print(temp)
#for i in temp:
 #print(i,end=" ")

SyntaxError: ignored

In [ ]:
num1=int(input())
num2=int(input())
num3=int(input())
if num1+num2>num3:
  print("valid triangle")
else:
  print("not a valid triangle")

7
10
5
valid triangle

In [ ]:
x=int(input())
if x%4==0 and x%100==0 and x%400==0:
  print("leap year")
else:
  print("not a leap year")

2400
leap year

In [ ]:
sum=0
for i in range(0,6):
  n=int(input())
  sum+=n
print(sum)

1
11

KeyboardInterrupt: ignored

In [ ]:
y = 0
sum = 0
p = 0.0
while (x < 10):
    y = x // 2
    while (y < x):
        p = (x + 10.0) / 2
        sum = (sum % 2) + x - y * 2 + int(p)
        print(sum)
        y = y + 2
    if (x > 5):
        x += 1
    else:
        x += 2

In [ ]:
x = 0
y = 0
sum = 0
p = 0.0
while (x < 10):
    y = x // 2
    while (y < x):
        p = (x + 10.0) / 2
        sum = (sum % 2) + x - y * 2 + int(p)
        print(sum)
        y = y + 2
    if (x > 5):
        x += 1
    else:
        x += 2

6
7
9
5
10
5
10
5
11
7
3

In [ ]:
1+7-6+8

10